@import "./colors";

// change the default bootstrap theme
$theme-colors: (
  "primary": $yellow_lala,
  "secondary": $green_lala,
  "danger": $orange_lala,
  "warning": $blue_lala,
);

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
html,
body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
h1 {
  color: $purple_lala;
}
a {
  color: inherit;
  text-decoration: none;
}
h2 {
  color: $purple-lala;
}
* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    max-width: 100vw;
    max-height: 100vh;
  }
  body {
    background: white;
  }
}
