@import "./colors";
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;1,300&display=swap");
.container {
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  background-image: url("/2022-04-26_lala-Biennale_header-13-neu.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: scroll;
  background-size: cover;
}

.main {
  height: 100%;
  padding: 20px 0;
  padding-bottom: 107px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dashboard {
  margin-top: 20px;
  max-width: 100%;
  width: 100%;
  height: 100%;
  max-height: 100%;
}

#weatherButton {
  height: 150px;
  font-size: 1.7rem;
  color: white;
  width: 300px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
.dayTimeCol {
  align-items: center;
  text-align: center;

  #dayTimeButton {
    margin-top: 15px;
    padding: 65px;
    text-align: center;
    align-items: center;
    min-width: 0;
    min-height: 0;
    height: auto;
    width: auto;
  }
}
.title a {
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.card {
  display: inline-block;
  text-align: left;
  width: auto;
  color: #fff;
  text-decoration: none;

  background-color: $orange_lala;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.card:hover,
.card:focus,
.card:active {
  cursor: pointer;
}
.card:active {
  transform: translateY(10px);
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
}
.card h2 {
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}
.biennale {
  position: absolute;
  max-width: 300px;
  bottom: 0;
  padding-bottom: 10px;
}
.resumeCard {
  position: absolute;
  height: 4rem;
  max-width: 300px;
  left: 0;
  top: 0;
  padding-left: 20px;
  padding-top: 20px;
  line-height: 1.15;
}
.resumeCard:hover {
  cursor: pointer;
}
.logo {
  height: 1em;
  margin-left: 0.5rem;
  margin-top: 20px;
  margin-bottom: 20px;
}
.nameForm {
  text-align: center;
  margin-top: 10%;
}

.gallery {
  h1 {
    font-size: 4rem;
  }
  background-image: url("/2022-04-26_lala-Biennale_header-13-neu.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: scroll;
  background-size: cover;
  min-height: 100vh;
  overflow-x: hidden;
}
.countdown {
  background-color: $purple_lala;
  text-align: center;
  border-radius: 50px;
  min-width: 100px;
  padding: 10px;
  font-family: "Rubik", sans-serif;
  color: #000;
  position: fixed;
  top: 0;
  right: 0;
  margin: 20px;
  font-size: 4rem;
  line-height: 1;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.dayTime {
  margin: 0px !important;
  line {
    color: #fff;
  }
  circle {
    color: white;
  }
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
.dayTimeAllWhite {
  margin: 0px !important;
  line {
    color: #fff;
  }
  circle {
    fill: white;
    color: white;
  }
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
.weatherCol {
  text-align: center;
}

.weatherSlider {
  padding: 50px;
  margin-top: 40px;
  margin-left: 0px;
  width: 200px;
  height: 90%;
}
.weatherSlider:active {
  transform: translateY(0px);
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
}
.footer {
  z-index: 10;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100vw;
  text-align: center;
  background-color: $aqua_lala;
}
.reactionCol {
  position: relative;

  .text-end {
    background-color: #555555;
    position: absolute;
    bottom: 0;
    right: 12px;
  }
}

.commentIcon {
  color: $purple_lala;
  margin-left: 5px;
  cursor: pointer;
}
.biennaleGallery {
  width: 100vw;
  text-align: center;
  max-height: 20vh;
  margin: (15px 0 15px 0);
}
